<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<body>

<section class="jumbotron text-center">
<div class="container">
  <h1>Glad you are here <%= @name.capitalize %>!</h1>
  <p class="lead text-muted">You ganna know some new GOSSIPS  ? </p>
  <p>
    <a class="btn btn-primary my-2" <%= link_to "YES please", gossips_path%></a>
  </p>
</div>
</section>
</body>
</html>

